.error {
  color: var(--error_color);
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.form-container-group {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  padding: 40px 0;
  border-bottom: 1px solid #232c3b;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
}

.form-container input,
.form-container select {
  width: 280px;
}

.form-container label {
  margin-right: 20px;
  min-width: 300px;
  text-align: right;
}

.button {
  margin: 20px 0 10px 320px;
}
